<body>
<h1>Stupid Coaching</h1>

<div>
  <div class="container">
    <div class='card' id = "question">
    <%= params[:search] %>
    <p><em>-You</em></p>
    </div>


    <div class='card' id = "reponse">
    <%= @answer %>
    <p><em>-Your Coach</em></p>
    </div>
  </div>

  <div>
  <a href="/ask">ask a new question</a>
  </div>

</div>
</body>
